name: Github Actions CI/CD

on:
  push:
    branches: ['main']

jobs:
  build_and_push:
    runs-on: self-hosted
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        environment: [main]
    #environment: ${{ matrix.environment }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Executing remote SSH commands to pull
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.SSH_HOST }}
          port: ${{ vars.SSH_PORT }}
          username: ${{ vars.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            set -e  # Exit on error
            echo "GIT PULL STARTED"
            cd "${{ vars.APP_DIRECTORY }}"
            git pull origin ${{ matrix.environment }}
            echo "GIT PULL FINISHED"
 

  deploy:
    needs: build_and_push
    runs-on: self-hosted
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        environment: [main]
    #environment: ${{ matrix.environment }}
    steps:
      - name: Executing remote SSH commands to deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.SSH_HOST }}
          port: ${{ vars.SSH_PORT }}
          username: ${{ vars.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            set -e  # Exit on error
            echo "DEPLOY STARTED"
            cd "${{ vars.APP_DIRECTORY }}"
            docker compose up -d --no-deps --build
            #docker compose down || true
            #docker compose up -d
            echo "DEPLOY FINISHED"